{% extends "layout.html" %}
{% block start_background_div %}<div class="bg2">{% endblock start_background_div %}
{% block end_background_div %}</div>{% endblock end_background_div %}
{% block content %}
    <div class="container-fluid" style="padding-top: 20px">
        <div class="row" style="flex-wrap: nowrap; margin-bottom: 20px; margin-left: -40px">
            <div class="border-center rounded" style="float: left; width: 45%"></div>
            <h1 class="text-center" style="color: #083443; margin-top: 0.8%">Discussions</h1>
            <div class="border-center rounded" style="float: right; width: 45%"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- THIS IS WHERE WE WILL PUT THE BLOCK CONTENT -->
                <div class="col" style="margin-left: -15px">
                    <th class="media">
                    <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
                      <div class="media-body content-section">
                        <div class="article-metadata">
                            William Sieving posted on June 16th, 2020
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <img class="article-img" src="{{ url_for('static', filename='stone.jpg') }}">
                            <div class="col">
                                <div class="article-metadata">
                                    <h2><a class="article-title" href="{{ url_for('main.home') }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></h2>
                                </div>
                                <p class="article-content" style="padding-left: 5px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                      </div>
                    </th>
                    <div class="row">
                        <div class="vl rounded"></div>
                        <div class="col" style="margin-left: -5px">
                            <th class="media">
                              <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='background.jpg') }}"> -->
                                <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
                                <div class="comment">
                                  <div class="media-body comment-section">
                                    <div class="article-metadata">
                                      <a class="article-title" href="{{ url_for('main.home') }}">Name</a>
                                    </div>
                                    <a class="article-content">Comment</a>
                                  </div>
                                </div>
                            </th>
                            <th class="media">
                          <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='background.jpg') }}"> -->
                            <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
                                <div class="comment">
                                  <div class="media-body comment-section">
                                    <div class="article-metadata">
                                      <a class="article-title" href="{{ url_for('main.home') }}">William Sieving</a>
                                    </div>
                                    <a class="article-content">I'll definitely be there! Looks super interesting! I wish that they held more events like this</a>
                                  </div>
                                </div>
                            </th>
                        </div>
                    </div>
                </div>
            <th class="media">
                    <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
                  <div class="media-body content-section">
                    <div class="row">
                        <img class="article-img" src="{{ url_for('static', filename='writing.jpg') }}">
                        <div class="col">
                            <div class="article-metadata">
                                <h2><a class="article-title" href="{{ url_for('main.home') }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></h2>
                            </div>
                            <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                  </div>
            </th>
            <th class="media">
              <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='background.jpg') }}"> -->
                <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
                <div class="comment">
                  <div class="media-body comment-section">
                    <div class="article-metadata">
                      <a class="article-title" href="{{ url_for('main.home') }}">Name</a>
                    </div>
                    <p class="article-content">Comment</p>
                  </div>
                </div>
            </th>
            <th class="media">
                    <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
                  <div class="media-body content-section">
                    <div class="row">
                        <img class="article-img" src="{{ url_for('static', filename='stone.jpg') }}">
                        <div class="col">
                            <div class="article-metadata">
                                <h2><a class="article-title" href="{{ url_for('main.home') }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></h2>
                            </div>
                            <p class="article-content" style="padding-left: 5px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                  </div>
            </th>
            <th class="media">
              <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='background.jpg') }}"> -->
                <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
              <div class="media-body content-section">
                <div class="article-metadata">
                  <h2><a class="article-title" href="{{ url_for('main.home') }}">Title</a></h2>
                </div>
                <p class="article-content" style="padding-left: 5px">Content</p>
              </div>
            </th>
            <th class="media">
              <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='background.jpg') }}"> -->
                <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
              <div class="media-body content-section">
                <div class="article-metadata">
                  <h2><a class="article-title" href="{{ url_for('main.home') }}">Title</a></h2>
                </div>
                <p class="article-content" style="padding-left: 5px">Content</p>
              </div>
            </th>
            <th class="media">
              <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='background.jpg') }}"> -->
                <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
              <div class="media-body content-section">
                <div class="article-metadata">
                  <h2><a class="article-title" href="{{ url_for('main.home') }}">Title</a></h2>
                </div>
                <p class="article-content" style="padding-left: 5px">Content</p>
              </div>
            </th>
            <th class="media">
              <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='background.jpg') }}"> -->
                <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
              <div class="media-body content-section">
                <div class="article-metadata">
                  <h2><a class="article-title" href="{{ url_for('main.home') }}">Title</a></h2>
                </div>
                <p class="article-content" style="padding-left: 5px">Content</p>
              </div>
            </th>
            <th class="media">
              <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='background.jpg') }}"> -->
                <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
              <div class="media-body content-section">
                <div class="article-metadata">
                  <h2><a class="article-title" href="{{ url_for('main.home') }}">Title</a></h2>
                </div>
                <p class="article-content" style="padding-left: 5px">Content</p>
              </div>
            </th>
            <th class="media">
              <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='background.jpg') }}"> -->
                <!-- this get the url for the author's image that we will display along with the post (directs to specific file in static depending on user's image_file attribute)-->
              <div class="media-body content-section">
                <div class="article-metadata">
                  <h2><a class="article-title" href="{{ url_for('main.home') }}">Title</a></h2>
                </div>
                <p class="article-content" style="padding-left: 5px">Content</p>
              </div>
            </th>
         </div>
         <div class="col-md-2">
          <div class="content-section">
            <h3>Index</h3>
            <p class='text-muted'>Learn about The Classical Forum
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Upcoming Events</li>
                <li class="list-group-item list-group-item-light">Calender</li>
              </ul>
            </p>
          </div>
        </div>
    </div>
{% endblock content %}