{% extends "layout.html" %}
{% block start_background_div %}<div class="bg1">{% endblock start_background_div %}
{% block end_background_div %}</div>{% endblock end_background_div %}

{% block content %}

<div style="padding-top: 50px">
<h2>Welcome to The Classical Forum</h2>
<p>The Classical Forum facilitates events related to the study of Classics. Our purpose is to create a community at UC Berkeley between professors, graduate students, and undergraduate students through events.</p>

<p>Sign up for the Classical Forum's e-mail list. By joining the list, you will receive invitations to upcoming events, as well as general postings for related lectures, conferences, and symposia.</p>

<div class="row" style="padding-top: 50px">
    <div class="col content-section" style="padding-top: 15px">
        <div class="row">
            <div class="col" style="max-width: 10%">
                <h6 class="text-center">Aug</h6>
                <h4 class="bold text-center" style="font-family: 'Playfair Display', serif;">29</h4>
                <h6 class="text-center" style="padding-top: 10px">2020</h6>
            </div>
            <div class="vl2 rounded" style="margin-bottom: 5px; margin-top: -5px"></div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col" style="max-width: 10%">
                <h6 class="text-center">Aug</h6>
                <h4 class="bold text-center" style="font-family: 'Playfair Display', serif;">29</h4>
                <h6 class="text-center" style="padding-top: 10px">2020</h6>
            </div>
            <div class="vl2 rounded" style="margin-bottom: 5px; margin-top: -5px"></div>
        </div>
    </div>
    <div class="col">
        <h6>Announcements</h6>
    </div>
    <div class="col">
        <h6>Discussions</h6>
    </div>
</div>
</div>
{% endblock content %}