{% extends "layout.html" %}
{% block start_background_div %}<div class="bg1">{% endblock start_background_div %}
{% block end_background_div %}</div>{% endblock end_background_div %}

{% block content %}

<div class="container-fluid" style="padding-top: 20px">
    <div class="row" style="flex-wrap: nowrap; margin-bottom: 0px">
        <div class="border-center rounded"></div>
        <h1 class="text-center" style="color: #083443; margin-top: 0.8%; min-width: 37%; font-size: 40px">Welcome to The Classical Forum</h1>
        <div class="border-center rounded"></div>
    </div>



    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide col-lg" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="rounded img-fluid" style="margin-top: 10px; max-height: 550px; min-height: 0px; width: 100%; display: block" src="{{ url_for('static', filename='carousel1.jpg') }}">
            </div>
            <div class="carousel-item">
              <img class="rounded img-fluid" style="margin-top: 10px; max-height: 550px; min-height: 0px; width: 100%; display: block" src="{{ url_for('static', filename='carousel2.jpg') }}">
            </div>
            <div class="carousel-item">
              <img class="rounded img-fluid" style="margin-top: 10px; max-height: 550px; min-height: 0px; width: 100%; display: block" src="{{ url_for('static', filename='carousel3.jpg') }}">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="col-lg" style="margin-bottom: -10px">
            <div class="content-section" style="max-height: 550px; border: 0px; margin-top: 10px; margin-bottom: -10px; height: 93%">
                <h3 class="event-text" style="margin-left: 0%; margin-bottom: 3%">Upcoming Events</h3>
                {% for item in events.items[:3] %}
                        <div class="row" style="margin-top: 20px; flex-basis: 0">
                            <div class="container d-flex" style="max-width: 10%">
                                <div class="col align-self-center" style="margin-right: -15px; margin-left: -15px">
                                    <h6 class="text-center event-text">{{ item.event_date.strftime('%B')[:3] }}</h6>
                                    <h4 class="bold text-center event-text" style="font-family: 'Playfair Display', serif">{{ item.event_date.strftime('%d') }}</h4>
                                    <h6 class="text-center event-text" style="margin-top: 10px">{{ item.event_date.strftime('%Y') }}</h6>
                                </div>
                            </div>
                            <div class="vl2 rounded" style="margin-bottom: 3%; margin-top: 3%"></div>

                            <div class="col" style="margin-top: -10px">
                                <a class="bold nounderline" style="color: #035c7e; font-size: 1.25rem; line-height: 1.2" href="{{ url_for('main.event', event_id=item.id) }}">{{ item.title }}</a>
                                <div class="line-clamp" style="margin-top: 1%; margin-bottom: 3%">
                                    {{ item.content }}
                                </div>
                            </div>
                        </div>
                {% endfor %}

                <a class="float-right event-text nounderline" style="margin-bottom: 15px" href="{{ url_for('main.upcoming_events') }}">See More...</a>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 5px; margin-bottom: 3%">
    <div class="col content-section inner" style="padding-top: 15px; min-width: 280px">
        <p class="line-clamp-para" style="font-size: larger">The Classical Forum facilitates events related to the study of Classics. Our purpose is to create a community at UC Berkeley between professors, graduate students, and undergraduate students through events. <br> <br> Sign up for the Classical Forum's e-mail list. By joining the list, you will receive invitations to upcoming events, as well as general postings for related lectures, conferences, and symposia.</p>
    </div>


        <div style="padding: .5%"></div>

        <div class="col content-section inner" style="padding-top: 15px; min-width: 280px">
            <h3 class="event-text" style="margin-left: 0%; margin-bottom: 3%">News</h3>

            {% for item in news.items %}
                <div class="row" style="margin-top: 20px">
                    <div class="container d-flex" style="max-width: 10%">
                        <div class="col align-self-center" style="margin-right: -15px; margin-left: -15px; max-width: 100px">
                            <img class="rounded" src="{{ url_for('static', filename='news_pictures/' + item.image_file) }}">
                        </div>
                    </div>
                    <div class="" style="margin-right: 3%"></div>

                    <div class="col" style="margin-top: -10px">
                        <div class="row" style="margin-left: 0px">
                            <a class="bold nounderline" style="color: #035c7e; font-size: 1.25rem; margin-bottom: .5rem; line-height: 1.2" href="{{ url_for('main.news_item', news_id=item.id) }}">{{ item.title }}</a>

                            <div style="margin-left: 5px">
                                <div class="" style="color: #10627f">{{ item.news_date.strftime('%B') }} {{ item.news_date.strftime('%d') }}, {{ item.news_date.strftime('%Y') }}</div>
                            </div>

                        </div>
                        <p class="line-clamp" style="margin-top: 1%; margin-bottom: 3%">
                            {{ item.content }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            <a class="float-right event-text nounderline" href="{{ url_for('main.news') }}">See More...</a>
        </div>

        <div style="padding: .5%"></div>

        <div class="col content-section inner" style="padding-top: 15px; min-width: 280px">
            <h3 class="event-text" style="margin-left: 0%; margin-bottom: 3%">Sign Up for Our Emails</h3>

    <!-- will post form to route that we are currently on (login) -->
            <form method="POST" action="">
                {{ form.hidden_tag() }}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="col">
                    <fieldset class="form-group" style="margin-left: 50px; margin-right: 50px">
                        <!-- need form group for each attribute of the 'form' object-->
                        <div class="form-group row">
                            <div class="col-xs-3" style="margin-left: .5%">
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-md is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                         <!-- this is the invalid feedback of the form,
                                        it uses an if statement to check if there are any errors with the 'email' attribute of the 'form' object,
                                        if there are it prints the each error in a div class -->
                                {% else %}
                                    {{ form.email(class="form-control form-control-md") }}
                                        <!-- ^ this is the valid feed of the form
                                         that runs if there are no errors -->
                                {% endif %}

                            </div>
                    </fieldset>
                    <div class="form-group row align-right" style="margin-right: 10px">
                        {{ form.submit(class="btn btn-outline-info btn-sm", style="max-height: 42px") }}
                    </div>
                </div>
            </form>
        </div>

        <!--<div class="col inner" style="flex-grow: 0">
            <h6>Announcements</h6>
        </div>
        <div class="col inner" style="flex-grow: 0">
            <h6>Discussions</h6>
        </div>  -->
    </div>
</div>
{% endblock content %}