<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- ^These are for bootstrap -->


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_forum.css') }}">
    <!-- Inputs the main.css file for styling -->


    <meta charset="UTF-8">
    {% if title %}
        <title>The Classical Forum - {{ title }}</title>
    {% else %}
        <title>The Classical Forum</title>
    {% endif %}
</head>
<body>


    <div class="bg">

    <header class="site-header">
      <nav class="navbar navbar-expand-sm navbar-dark bg-steel">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">The Classical Forum</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

            </div>
            <div class="navbar-nav">
                <div class="container text-center">
                    <a class="nav-item nav-link text-center" href="{{ url_for('main.home') }}">Home</a>
                </div>
                <div class="container text-center">
                    <a class="nav-item nav-link text-center" href="{{ url_for('main.discussion') }}">Discussions</a>
                </div>
                <li class="nav-item dropdown container text-center">
                    <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sources</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Source 1</a>
                      <a class="dropdown-item" href="#">Source 2</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Source 3</a>
                    </div>
                  </li>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="main-border">
        {% block content %}{% endblock %}

    </main>

    </div>
    <div class="signature">Website created by William Sieving</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>