{% extends "layout.html" %}
{% block start_background_div %}<div class="bg1">{% endblock start_background_div %}
{% block end_background_div %}</div>{% endblock end_background_div %}


{% block content %}
<div class="container-fluid" style="padding-top: 20px">
<div class="row" style="flex-wrap: nowrap; margin-bottom: 20px; margin-left: -40px">
    <div class="border-center rounded" style="float: left; width: 45%"></div>
    <h1 class="text-center" style="color: #083443; margin-top: 0.8%">News</h1>
    <div class="border-center rounded" style="float: right; width: 45%"></div>
</div>
</div>
    <div class="container">
        <div class="row">
            <div class="col" style="margin-top: -1%">
                <h3 class="nounderline" style="color: #000000; margin-left: 5px">{{ title }}</h3>
                <a class="" style="color: #024863; font-size: 1rem; line-height: 1.2; display: inline-block; margin-left: 20px;">{{ news.news_date.strftime('%I:%M %p') }}</a>
            </div>
        </div>
        {% if news.image_file != 'news.png' %}
            <img class="align-center rounded align-center shadow-sm" style="max-width: 700px; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='news_pictures/' + '1' + news.image_file) }}">
        {% endif %}

        <div class="row">

            <div class="col shadow-sm content-section">
                <div class="row">
                    <div class="col-sm" style="">
                        <p>{{ news.content }}</p>
                        {% if current_user.username == 'admin' %}
                        <a class="bold nounderline" style="color: #035c7e; font-size: 1.25rem; margin-bottom: .5rem; line-height: 1.2" href="{{ url_for('main.update_news', news_id=news.id) }}">Edit</a>
                        <a class="bold nounderline" style="color: #035c7e; font-size: 1.25rem; margin-bottom: .5rem; line-height: 1.2" href="{{ url_for('main.delete_news', news_id=news.id) }}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


    </div>

<div style="height: 50px"></div>

{% endblock content %}