{% extends "layout.html" %}
{% block start_background_div %}<div class="bg3">{% endblock start_background_div %}
{% block end_background_div %}</div>{% endblock end_background_div %}

{% block content %}

<div style="padding-top: 30px"></div>
<h2 class="text-center event-text">Past Events</h2>
<div class="row">
<div class="col-md-2" style="margin-top: 2%; padding-left: 2%">
  <h5 class="text-center">Year</h5>
  <a class="list-group btn-group btn-group-toggle" data-toggle="buttons">
    <div class="hl" style=""></div>
    <label class="btn btn-events rounded active" style="margin-left: -1px">
        <input type="radio" name="event_year" id="2020" autocomplete="off"> 2020
    </label>
    <div style="padding-bottom: 0px"></div>
    <div class="hl" style=""></div>
    <label class="btn btn-events rounded">
        <input type="radio" name="event_year" id="2019" autocomplete="off"> 2019
    </label>
    <div style="padding-bottom: 0px"></div>
    <div class="hl" style=""></div>
    <label class="btn btn-events rounded">
        <input type="radio" name="event_year" id="2018" autocomplete="off"> 2018
    </label>
    <div style="padding-bottom: 0px"></div>
    <div class="hl" style=""></div>
    <label class="btn btn-events rounded">
        <input type="radio" name="event_year" id="2017" autocomplete="off"> 2017
    </label>

  </a>
</div>


<div class="rounded-left container" style="background-color: rgba(255,254,252,0.8); margin-top: 2%; max-width: 74.5%; min-width: 20%">
  <div class="col" style="margin: 3%">
    <div class="row" style="width: 90%">
      <div class="row">
          <div class="col">

            <h5 class="align-self-center" style="width: 7%; margin-left: -.5%">June</h5>
            <div class="hl3 rounded" style="margin-right: 2%; margin-bottom: 30px; margin-top: 2%; margin-left: -.5%"></div>
            {% for item in events.items %}
                <div class="row">
                    <h4 class="bold text-center event-text" style="font-family: 'Playfair Display', serif; margin-left: 1%">{{ item.date_posted.strftime('%d') }}</h4>
                    <div class="col" style="margin-top: -1%">
                        <a class="bold nounderline" style="color: #035c7e; font-size: 1.25rem; line-height: 1.2" href="/">{{ item.title }}</a>
                        <p class="line-clamp" style="margin-top: 1%; margin-bottom: 3%">
                            {{ item.content }}
                        </p>
                    </div>
                </div>
            {% endfor %}
          </div>
      </div>

        <div class="row">
          <div class="col">
            <h5 class="align-self-center" style="width: 7%; margin-left: -.5%">July</h5>
            <div class="hl3 rounded" style="margin-right: 2%; margin-bottom: 30px; margin-top: 2%; margin-left: -.5%"></div>
            {% for item in events.items %}
                <div class="row">
                    <h4 class="bold text-center event-text" style="font-family: 'Playfair Display', serif; margin-left: 1%">{{ item.date_posted.strftime('%d') }}</h4>
                    <div class="col" style="margin-top: -1%">
                        <a class="bold nounderline" style="color: #035c7e; font-size: 1.25rem; line-height: 1.2" href="/">{{ item.title }}</a>
                        <p class="line-clamp" style="margin-top: 1%; margin-bottom: 3%">
                            {{ item.content }}
                        </p>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>


  </div>
</div>
</div>

{% endblock content %}