{% extends "layout.html" %}
{% block start_background_div %}<div class="bg3">{% endblock start_background_div %}
{% block end_background_div %}</div>{% endblock end_background_div %}

{% block content %}

<div class="container-fluid" style="padding-top: 20px">
<div class="row" style="flex-wrap: nowrap; margin-left: -40px">
    <div class="border-center rounded" style="float: left; width: 45%"></div>
    <h1 class="text-center" style="color: #083443; margin-top: 0.8%; min-width: 10%">Past Events</h1>
    <div class="border-center rounded" style="float: right; width: 45%"></div>
</div>
</div>


<div class="row">
<div class="col-md-2" style="margin-top: 2%; padding-left: 2%">
  <h5 class="text-center">Year</h5>



  <form name="year" id="year" class="list-group btn-group btn-group-toggle" data-toggle="buttons" action="{{ url_for('main.past_events') }}" method="POST">
    <div class="hl" style=""></div>



    {% if year_selected == current_year %}
        <label class="btn btn-events rounded active" style="margin-left: -1px">
            <input type="radio" name="event_year" value="{{ current_year }}" checked="checked" /> {{ current_year }}
        </label>
        <div style="padding-bottom: 0px"></div>
    {% else %}
        <label class="btn btn-events rounded" style="margin-left: -1px">
            <input type="radio" name="event_year" value="{{ current_year }}" /> {{ current_year }}
        </label>
        <div style="padding-bottom: 0px"></div>
    {% endif %}

    {% for year in year_list %}
    {% if year_selected == year %}
    <div class="hl" style=""></div>
    <label class="btn btn-events rounded active" style="margin-left: -1px">
        <input type="radio" name="event_year" value="{{ year }}" checked="checked"/> {{ year }}
    </label>
    <div style="padding-bottom: 0px"></div>
    {% else %}
    <div class="hl" style=""></div>
    <label class="btn btn-events rounded" style="margin-left: -1px">
        <input type="radio" name="event_year" value="{{ year }}" /> {{ year }}
    </label>
    <div style="padding-bottom: 0px"></div>
    {% endif %}
    {% endfor %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type='text/javascript'>

         $(document).ready(function() {
           $('input[name=event_year]').change(function(){
                $('form').submit();
           });
          });

    </script>
  </form>
</div>


<div class="rounded-left container" style="background-color: rgba(255,254,252,0.8); margin-top: 2%; max-width: 74.5%; min-width: 20%">
  <div class="col" style="margin: 3%">
    <div class="row" style="width: 90%">
        {% for month in month_list %}
          {% if str_year_sel == current_datetime.strftime('%Y') %}
              <!-- have to find a way to get access to what year is currently selected --->
              <div class="row" style="width: 120%">
                  <div class="col">

                    <h5 class="align-self-center" style="width: 7%; margin-left: -.5%">{{ month_names[month] }}</h5>
                    <div class="hl3 rounded" style="margin-right: 2%; margin-bottom: 40px; margin-top: 2%; margin-left: -.5%"></div>
                    <script>
                        var none_counter = 0;
                    </script>
                    {% for item in events %}
                        {% if item.event_date.strftime('%Y') == str_year_sel %}
                            <!-- need to add currently selected year here too -->
                            {% if item.event_date.strftime('%m') == month %}
                                <div class="row">
                                    <h4 class="text-center event-text" style="font-family: 'Playfair Display', serif; margin-left: 1%; margin-right: 1%; font-size: xx-large">{{ item.event_date.strftime('%d') }}</h4>
                                    <div class="col" style="margin-top: -1%">
                                        <a class="bold nounderline" style="color: #035c7e; font-size: 1.25rem; line-height: 1.2; display: inline-block" href="{{ url_for('main.event', event_id=item.id) }}">{{ item.title }}</a>
                                        {% if item.event_end == None %}
                                            <a class="" style="color: #035c7e; font-size: 1.25rem; line-height: 1.2; display: inline-block; margin-left: 20px;">{{ item.event_date.strftime('%I:%M %p') }}</a>
                                            <p class="line-clamp" style="margin-top: 1%; margin-bottom: 3%">
                                                {{ item.content }}
                                            </p>
                                        {% elif item.event_end.strftime('%d') == item.event_date.strftime('%d') %}
                                            <a class="" style="color: #035c7e; font-size: 1.25rem; line-height: 1.2; display: inline-block; margin-left: 20px;">{{ item.event_date.strftime('%I:%M %p') }} - {{ item.event_end.strftime('%I:%M %p') }}</a>
                                            <p class="line-clamp" style="margin-top: 1%; margin-bottom: 3%">
                                                {{ item.content }}
                                            </p>
                                        {% elif item.event_end.strftime('%Y') == item.event_date.strftime('%Y') %}
                                            <a class="" style="color: #035c7e; font-size: 1.25rem; line-height: 1.2; display: inline-block; margin-left: 20px;">{{ item.event_date.strftime('%I:%M %p') }} - {{ item.event_end.strftime('%I:%M %p') }} on {{ item.event_end.strftime('%b %d') }}</a>
                                            <p class="line-clamp" style="margin-top: 1%; margin-bottom: 3%">
                                                {{ item.content }}
                                            </p>
                                        {% else %}
                                            <a class="" style="color: #035c7e; font-size: 1.25rem; line-height: 1.2; display: inline-block; margin-left: 20px;">{{ item.event_date.strftime('%I:%M %p') }} - {{ item.event_end.strftime('%I:%M %p') }} on {{ item.event_end.strftime('%b %d, %Y') }}</a>
                                            <p class="line-clamp" style="margin-top: 1%; margin-bottom: 3%">
                                                {{ item.content }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <script>
                                    none_counter = none_counter + 1;
                                </script>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <div class="row" style="" id="no_events_{{ month }}">
                        <h4 class="text-center event-text" style="font-family: 'Playfair Display', serif; margin-left: 5%; margin-bottom: 30px; margin-top: -10px">No Events Found</h4>
                    </div>
                    <script>
                        if (none_counter === 0) {
                            document.getElementById('no_events_{{ month }}').style.display = "";
                        } else {
                            document.getElementById('no_events_{{ month }}').style.display = "none";
                        };
                    </script>

                  </div>
              </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}