{% extends "layout.html" %}
{% block start_background_div %}<div class="bg3">{% endblock start_background_div %}
{% block end_background_div %}</div>{% endblock end_background_div %}

{% block content %}

<div class="container-fluid" style="padding-top: 20px">
<div class="row" style="flex-wrap: nowrap; margin-bottom: 20px; margin-left: -40px">
    <div class="border-center rounded" style="float: left; width: 45%"></div>
    <h1 class="text-center" style="color: #083443; margin-top: 0.8%; min-width: 20%">Upcoming Events</h1>
    <div class="border-center rounded" style="float: right; width: 45%"></div>
</div>
</div>




<div style="height: 1000px"></div>

{% endblock content %}