{% extends "layout.html" %}
{% block start_background_div %}<div class="bg1">{% endblock start_background_div %}
{% block end_background_div %}</div>{% endblock end_background_div %}

{% block content %}

<div class="container-fluid" style="padding-top: 20px">
<div class="row" style="flex-wrap: nowrap; margin-bottom: 20px; margin-left: -40px">
    <div class="border-center rounded" style="float: left; width: 45%"></div>
    <h1 class="text-center" style="color: #083443; margin-top: 0.8%; min-width: 20%">Upcoming Events</h1>
    <div class="border-center rounded" style="float: right; width: 45%"></div>
</div>
</div>


{% for item in events.items %}
    <div class="shadow-sm row content-section" style="">
        <div class="" style="margin-top: 0%"></div>

        <div class="col" style="margin-top: 2%">
            <div class="row" style="margin-left: 0px">
                <a class="bold nounderline" style="color: #035c7e; font-size: 1.25rem; margin-bottom: .5rem; line-height: 1.2" href="{{ url_for('main.event', event_id=item.id) }}">{{ item.title }}</a>

                <div style="margin-left: 15px">
                    <div class="" style="color: #08313f">{{ item.event_date.strftime('%B') }} {{ item.event_date.strftime('%d') }}, {{ item.event_date.strftime('%Y') }}</div>
                </div>

            </div>
            <p class="line-clamp" style="margin-top: 1%; margin-bottom: 3%">
                {{ item.content }}
            </p>
        </div>
    </div>
{% endfor %}

{% endblock content %}